---
import MainLayout from '../layouts/MainLayout.astro'
---
<MainLayout title='Exercicis'>
    <div class="content">
        <div class="contentCard "><h1>Exercici 1</h1></div>
        <div class="contentCard "><h1>Exercici 2</h1></div>
        <div class="contentCard "><h1>Exercici 3</h1></div>
        <div class="contentCard "><h1>Exercici 4</h1></div>
    </div>

</MainLayout>