---
import MainLayout from "../layouts/MainLayout.astro";
// Component Imports
let title = 'My Astro Site';

---
<MainLayout title='HomePage'>
    <div class="content">
        <div class="contentCard eyeImg"><h1>Activitat 1</h1></div>
        <div class="contentCard soundImg"><h1>Activitat 2</h1></div>
        <div class="contentCard imgBackground"><h1>Activitat 3</h1></div>
        <div class="contentCard imgBackground"><h1>Activitat 4</h1></div>
    </div>
</MainLayout>