---
import '../styles/style.css';


let {title} = Astro.props;

---
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{title}</title>
</head>
<body>
   <header>
        <div class="links">
            <a href="/">Home</a>
            <a href="/exercises">Exercicis</a>
            <a href="#">Projecte</a>
            <a href="/about">About</a>
            <div class="sName">
                <h2>
                    M9-UF2-DAW1
                </h2>
            </div>
        </div>

    </header>

    <slot></slot>
    
    <footer>
        <h3>Humayun Ashfaq</h3>
    </footer>

</body>
</html>
